<!-- wp:cover {"isUserOverlayColor":true,"minHeight":100,"minHeightUnit":"vh","customGradient":"linear-gradient(135deg,rgb(71,71,71) 0%,rgb(0,0,0) 100%)","metadata":{"categories":["banner","images","text"],"patternName":"core/centered-image-with-two-tone-background-color","name":"Centered image with two-tone background color"},"align":"full","style":{"spacing":{"padding":{"top":"5vw","right":"5vw","bottom":"5vw","left":"5vw"},"margin":{"top":"0"}},"color":{"duotone":"unset"},"elements":{"link":{"color":{"text":"var:preset|color|white"}},"heading":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white","fontSize":"medium","layout":{"type":"default"}} -->
<div class="wp-block-cover alignfull has-white-color has-text-color has-link-color has-medium-font-size" style="margin-top:0;padding-top:5vw;padding-right:5vw;padding-bottom:5vw;padding-left:5vw;min-height:100vh"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-100 has-background-dim has-background-gradient" style="background:linear-gradient(135deg,rgb(71,71,71) 0%,rgb(0,0,0) 100%)"></span><div class="wp-block-cover__inner-container"><!-- wp:template-part {"slug":"header","tagName":"header","align":"center"} /-->

<!-- wp:post-title /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->

<!-- wp:heading {"textAlign":"center"} -->
<h2 class="wp-block-heading has-text-align-center">Footer</h2>
<!-- /wp:heading --></div></div>
<!-- /wp:cover -->